<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mappers.AttentionMapper">

	<!-- 관심지역 조회 -->
	<select id="selectAttention" parameterType="com.ssafy.happyhouse.attention.dto.AttentionDTO" resultType="com.ssafy.happyhouse.attention.dto.AttentionDTO">
		select user_id, dong
		  from user_attention
		 where user_id = #{user_id}
	</select>
	<!-- 관심지역 등록 -->
	<insert id="insertAttention" parameterType="com.ssafy.happyhouse.attention.dto.AttentionDTO">
		insert into user_attention(user_id,dong)
		values (#{user_id},#{dong})
	</insert>	
	<!-- 관심지역 삭제 -->
	<delete id="deleteAtteion" parameterType="com.ssafy.happyhouse.attention.dto.AttentionDTO">
		delete from user_attention
		 where user_id = #{user_id}
	</delete>	
	
	<!-- 관심매물 등록 -->
	<insert id="insertBookmark">
		insert into bookmark(user_id,no)
		values (#{userId},#{no})
	</insert>	
	
	<!-- 관심매물 삭제 -->
	<delete id="deleteBookmark">
		delete from bookmark
		 where user_id =#{userId} and no=#{no}
	</delete>	
	
	<!-- 관심매물 조회 -->
	<select id="selectBookmark" resultType="com.ssafy.happyhouse.attention.dto.Bookmark">
		select *
		  from bookmark
		 where user_id = #{userId} and no = #{no}
	</select>
	
	

</mapper>