<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mappers.HouseMapMapper">

	<!-- 시도 검색 지도 -->
	<select id="getSido" resultType="com.ssafy.happyhouse.map.dto.SidoGugunCodeDto">
		select left(sido_code, 2) 'sidoCode', sido_name 'sidoName' 
		from sidocode 
		order by sido_code
	</select>

	<!-- 구군 검색 (시도 내) -->
	<select id="getGugunInSido" parameterType="string" resultType="com.ssafy.happyhouse.map.dto.SidoGugunCodeDto">
		select left(gugun_code, 5) 'gugunCode', gugun_name 'gugunName'
		 from guguncode 
		 where left(gugun_code, 2) = #{sido} 
		order by gugun_code
	</select>

	<!-- 동 검색 (구군 내) -->
	<select id="getDongInGugun" parameterType="string" resultType="com.ssafy.happyhouse.map.dto.HouseInfoDto">
		select distinct dong, code  
		 from houseinfo
		 where code = #{gugun}
		 order by dong
	</select>

	<!-- 아파트 검색 (동 내) -->
	<select id="getAptInDong" parameterType="string" resultType="com.ssafy.happyhouse.map.dto.HouseInfoDto">
		select no, dong, AptName, code, jibun
		  from houseinfo
		 where dong = #{dong}
		order by AptName
	</select>
	
	<!-- 법정동이 속한 시도군구 조회 -->
	<select id="getSidogugunByDong" parameterType="string" resultType="com.ssafy.happyhouse.map.dto.SidoGugunCodeDto">
		select city 'sidoName',gugun 'gugunName',left(gugun_code,5) 'gugunCode'
		 from dongcode dong join guguncode gugun on (dong.gugun=gugun.gugun_name)
		 where dong.dong=#{dong}
	</select>
	
	<!-- 동 & 아파트이름 기준 아파트 평수 조회 -->
	<select id="getAreaByDongAndAptName" resultType="int">		
		SELECT area
		FROM housedeal
		where dong=#{dong} and AptName like CONCAT('%',#{AptName},'%')
		group by area
		order by area;
	</select>

	<!-- 해당 아파트의 평수별 가격 조회-->
	<select id="getAmountHistory" resultType="com.ssafy.happyhouse.deal.dto.AmountHistory">
	SELECT distinct dealMonth,dealDay,trim(dealAmount) dealAmount
	FROM housedeal
	where dong=#{dong} and AptName like CONCAT('%',#{AptName},'%') and ROUND(area) between round(#{area})-2 and round(#{area})+2
	order by AptName,dealYear and dealMonth and dealDay
	</select>
	

	
</mapper>