<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mappers.IndicateMapper">

	<!-- 관심지역 조회 -->
	<select id="selectIndicate" parameterType="String" resultType="com.ssafy.happyhouse.indicate.dto.IndicateDTO">
		select * 
		  from indicatordong 
		 where dongname like CONCAT(#{dong}, '%') 
		 limit 1
	</select>

</mapper>