<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mappers.UserMapper">
	<!-- 로그인 -->
	<select id="selectUser" parameterType="com.ssafy.happyhouse.user.dto.User" resultType="com.ssafy.happyhouse.user.dto.User">
		 select user_id 'userId', user_pw 'userPw', user_name 'userName', user_age 'userAge', user_auth 'userAuth'
		 from user
		 where user_id = #{userId} and user_pw = #{userPw}
	</select>

	<!-- 회원등록 -->
	<insert id="insertUser" parameterType="com.ssafy.happyhouse.user.dto.User">
		insert into user(user_id, user_pw,user_name, user_age)
		values (#{userId}, #{userPw},#{userName},#{userAge})
	</insert>	

	<!-- 아이디 중복체크 -->
	<select id="isAllowId" parameterType="com.ssafy.happyhouse.user.dto.User" resultType="int">
		select count(*) 
		  from user 
		 where user_id = #{userId}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="isAllowName" parameterType="com.ssafy.happyhouse.user.dto.User" resultType="int">
		select count(*) 
		  from user 
		 where user_name = #{userName} 
	</select>
	
	<!-- 회원수정 -->
	<update id="updateUser" parameterType="com.ssafy.happyhouse.user.dto.User">
		update user
		   set user_id = #{userId}
		 where user_pw = #{userPw}
	</update>	
	
	<!-- 닉네임 수정 -->
	<update id="updateName" parameterType="com.ssafy.happyhouse.user.dto.User">
		update user
		   set user_name = #{userName}
		 where user_id = #{userId}
	</update>	



	<!-- 회원탈퇴 -->
	<delete id="deleteUser" parameterType="com.ssafy.happyhouse.user.dto.User">
		delete from user where user_id=#{userId}
	</delete>	


	
	<!-- 비번찾기 -->
	<select id="selectPassword" parameterType="string" resultType="com.ssafy.happyhouse.user.dto.User">
		select * 
		  from user 
		 where user_id = #{userId} and user_name = #{userName} and user_age = #{userAge} 
	</select>
</mapper>

